html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100vh;
    background: #3D5B59;
    display: flex;
    align-items: center;
    justify-content: center
}

.calculator{
    background: #B5E5CF;
    padding: 100px;
    border-radius: 10px;
    border: 2px solid rgb(31, 48, 41);
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1)

    
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #eeecec;
    background-color: #ecfaf9;
    cursor: pointer;
    margin: 10px;
    

}

form .screen{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    
}

form .screen input{

    text-align: right;
    flex: 1;
    font-size: 45px;

}

form input.equal{
    width: 145px;
}

form input.op{
    background-color: #3D5B59;
    
}

form input.misc{
    background-color: #639693;
}

form input.num{
    background-color: #3dada6;
}

form input.output{
    border-radius: 0;
    color: rgb(1, 39, 26);
    border: 1px solid black;
}
